* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #2c2b3f;
}

/* Container of the password security */
.password-security {
    padding: 10vh 5vw;
    margin: 10vh 25vw 0 25vw;
    text-align: center;
    background-color: #242333;
    border-radius: 100px;
}

h1 {
    margin-bottom: 5vh;
    color: #00d658;
}

p {
    color: #fdfcfe;
}

/* Div containing the password and the checkbox */
.input-pwd-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-pwd-checkbox p {
    margin-right: 10px;
}

.password {
    margin-right: 1vw;
    padding: 5px;
    background-color: #111018;
    border: #111018;
    color: #fdfcfe;
    width: 30%;
    height: 25px;
    font-size: 16px;
}
.checkbox {
    height: 16px;
    width: 16px;
}

/* Security level is the sentence which describe to the user the level of security of his password */
.security-level {
    color: #fdfcfe;
    margin-top: 5vh;
}

.weak {
    border: 1px solid red;
}